<tbody>
	<% @f.each do |f| %>
		<tr>
			<td><%= f.name %></td>
			<td><%= f.mobile_number %></td>
			<td><%= f.cars_in_contact %></td>
			<td><%= f.exp_in_cab_business %></td>
			<td><%= f.monthly_expectations %></td>
			<td><%= f.area.name %></td>
		</tr>
	<% end %>
</tbody>