<% @franchises.each do |franchise| %>
	<tr>
		<td><%= franchise.name %></td>
		<td><%= franchise.mobile_number %></td>
		<td><%= franchise.cars_in_contact %></td>
		<td><%= franchise.exp_in_cab_business %></td>
		<td><%= franchise.monthly_expectations %></td>
		<td><%= franchise.area.name %></td>
	</tr>
<% end %>