<h1><center>Franchise : 17/06/2017</center></h1>
<table width="100%" border="1">
	<tr>
		<td>Name</td>
		<td>Mobile Number</td>
		<td>Cars in Contact</td>
		<td>Exp in cab business</td>
		<td>Monthly Expectation</td>
		<td>Area</td>
	</tr>
	<% @franchises.each do |franchise| %>
	<tr>
		<td><%= franchise.name %></td>
		<td><%= franchise.mobile_number %></td>
		<td><%= franchise.cars_in_contact %></td>
		<td><%= franchise.exp_in_cab_business %></td>
		<td><%= franchise.monthly_expectations %></td>
		<td><%= franchise.area.name %></td>
	</tr>
	<% end %>
</table>