<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Book Cabs Nearby in Ahmedabad at Best Prices | Hire Taxi Nearby in Ahmedabad at Volga Cabs</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

	<%= render "layouts/header" %>
	<!-- Left side column. contains the logo and sidebar -->
	<%= render "layouts/sidebar" %>
	<div class="content-wrapper">
	<%= yield %>
	</div>
	<%= render "layouts/footer" %>
	<%#= render "layouts/control_bar" %>
	</div>


</body>
</html>